{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %} {# Titre en français #}

{# Changement du nom du bloc ici pour correspondre à base.html.twig #}
{% block body_content %}
    <div class="container mt-5"> {# Ajout d'un container pour le centrage et marges, si tu utilises Bootstrap #}
        <div class="row justify-content-center">
            <div class="col-md-6"> {# Colonne un peu plus large pour le formulaire d'inscription #}
                <h1 class="mb-4 text-center">Créer un compte</h1> {# Titre en français et centré #}

                {# Affiche les erreurs globales du formulaire s'il y en a #}
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {# Les labels pour ces champs devraient être définis dans RegistrationFormType.php #}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.telephone) }}
                    {{ form_row(registrationForm.dateNaissance) }}

                    {# Le champ plainPassword est un RepeatedType, form_row le gère bien. #}
                    {# Le label 'Password' ici surcharge le label 'Mot de passe' que tu as défini dans le FormType #}
                    {# Si tu veux les labels définis dans le FormType, enlève l'option label ici #}
                    {{ form_row(registrationForm.plainPassword) }} {# Enlève , { label: 'Password' } si tu veux le label du FormType #}

                    {# Le label pour agreeTerms devrait aussi être défini dans RegistrationFormType.php #}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary w-100 mt-3">S'inscrire</button> {# Bouton en français et pleine largeur #}
                {{ form_end(registrationForm) }}

                <p class="text-center mt-3">
                    Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
            </div>
        </div>
    </div>
{% endblock body_content %} {# Nom du bloc mis à jour ici aussi #}